{% extends 'buy_sell/basefixednav.html'%}
{% load static %}
{% load socialaccount %}
{% block contentfixednav %}

<div class="text-center pt-3">
    <h4 class="alert-heading">Change Password</h4>
</div>

<div class="container-sm">
    <form method="POST" action="{% url 'changepassword' %}">
        {% csrf_token %}
        <div class="form-group pt-3">
            <input type="text" class="form-control" name='oldpassword' value="" placeholder="oldpassword" required>
        </div>
        <div class="form-group pt-3">
            <input type="password" class="form-control" name="newpassword" value="" placeholder="newpassword" required>
        </div>
        <div class="form-group pt-3">
            <input type="password" class="form-control" name="confirmpassword" value="" placeholder="confirmnewpassword"
                required>
        </div>
        <br>
        <button type="submit" class="btn btn-success">Save Changes</button>
        <h6>back to <a href="{% url 'editprofile' %}">Dashboard</a></h6>
        {% if messages %}
        {% for msg in messages%}
        <h5>{{ msg }}</h5>
        {% endfor%}
        {% endif %}
    </form>
</div>

{% endblock %}