{% extends 'buy_sell/basefixednav.html'%}
{% load static %}
{% load socialaccount %}
{% block contentfixednav %}

<div class="text-center pt-3">
    <h4 class="alert-heading">Change Username</h4>
</div>

<div class="container-sm">
    <form method="POST" action="{% url 'changeusername' %}">
        {% csrf_token %}
        <div class="form-group pt-3">
            <input type="text" class="form-control" name='oldusername' value="" placeholder="oldusername" required>
        </div>
        <div class="form-group pt-3">
            <input type="text" class="form-control" name="newusername" value="" placeholder="newusername" required>
        </div>
        <div class="form-group pt-3">
            <input type="text" class="form-control" name="confirmusername" value="" placeholder="confirmusername"
                required>
        </div>
        <br>
        <button type="submit" class="btn btn-success">Save Changes</button>
        <h6>back to <a href="{% url 'editprofile' %}">Dashboard</a></h6>
        {% if messages %}
        {% for msg in messages%}
        <h5>{{ msg }}</h5>
        {% endfor%}
        {% endif %}
    </form>
</div>

{% endblock %}