{% extends 'buy_sell/basefixednav.html'%}
{% load static %}
{% block contentfixednav %}

<div class="text-center pt-3">
  <h4 class="alert-heading">Create Post</h4>
</div>

<div class="container-sm">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Post</button>
    {% if messages %}
    {% for msg in messages%}
    <h5>{{ msg }}</h5>
    {% endfor%}
    {% endif %}
  </form>
  <h6>back to <a href="{% url 'editprofile' %}">Dashboard</a></h6>
</div>

{% endblock %}