
{% extends 'buy_sell/basenav.html'%}
{% load static %}
{% block content %}
      
        <!-- error message -->
        <div class="error s_container bc4 text-center pt-5"> 
            <h1>Oops!...</h1>
            <h2>Something went wrong</h2>
            <div>please make sure that you entered right information and try again...</div>
            
        </div>

        <!-- Footer -->
        <div class="fixed-bottom">
            {% include 'buy_sell/footer.html' %}
        </div>

{% endblock %}  